/* Estilos generales */
body {
    font-family: 'IBM', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8; /* Color de fondo */
    color: #333; /* Color de texto principal */
}

header {
    background-color: #1a237e; /* Color de fondo del encabezado */
    color: #fff; /* Color de texto del encabezado */
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a237e;
    padding: 10px 20px;
}

.control-me {
  /* Default state */
}
#toggle:checked ~ .control-me {
  /* A toggled state! No JavaScript! */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #bbdefb;
}

button {
    padding: 10px 20px;
    background-color: #1a237e; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0d47a1; /* Cambio de color al pasar el ratón por encima */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu label {
        order: 1;
        cursor: pointer;
    }

    .menu ul {
        display: none;
        flex-direction: column;
        background-color: #1a237e;
        width: 100%;
        padding: 0;
    }

    .menu ul.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu ul li {
        margin: 10px 0;
    }
}

footer {
    background-color: #1a237e; /* Color de fondo del pie de página */
    color: #fff; /* Color de texto del pie de página */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
